.container {
  display: flex;
  flex-direction: row;
  // align-items: center;
  justify-content: center;
  gap: 20px;
}

.col {
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: center;
  margin-top: 30px;

  .btn.active {
    background-color: red;
  }

  #toolbar {
    margin-bottom: 10px;
  }

  #editable,
  #output,
  #debug-output {
    border: 1px solid #444444;
    padding: 5px;
    margin-bottom: 10px;
    width: 580px;
    min-height: 18px;
    // max-height: 300px;
    overflow-y: auto;
  }

  #editable {
    div {
      margin-bottom: 1rem;
    }
  }

  @media screen and (max-width: 600px) {
    #editable,
    #output {
      width: 100%;
    }
  }
}
